<header>

  <h1>iRacing Fuel Calculator</h1>
  <h2>in association with XVR Sim Racing</h2>

</header>

<div class="container">

  <div class="alert alert-dark">

    <p>Calculate your fuel usage for either a timed race or a race for a set number of maps using the calculator below. Helpful to get an idea of pit strategy for longer races, or just to make sure you have enough fuel in the tank for a short sprint race!</p>

    <a class="btn btn-success" routerLink="/">Time</a>
    <a class="btn btn-success" routerLink="Lap">Lap</a>

  </div>

  <router-outlet></router-outlet>

</div>

<footer>

  <div class="logo">
    <a href="http://xvr-sim-racing.co.uk" target="_blank" title="Visit the XVR website - opens in a new window">
      <img src="/xvr-fuel-calc/assets/logo.png" />
    </a>
  </div>

</footer>