<header>

  <h1>{{title}}</h1>
  <h2>built by the XVR Sim-Racing-Team</h2>

</header>

<div class="container">

  <div class="alert alert-dark">

    <p>Calculate your fuel usage for either a timed race or a race for a set number of laps using the calculator below. Helpful to get an idea of pit strategy for longer races, or just to make sure you have enough fuel in the tank for a short sprint race.</p>

    <a class="btn btn-success" routerLink="/">Time</a>
    <a class="btn btn-success" routerLink="Lap">Lap</a>

  </div>

  <router-outlet></router-outlet>

</div>

<footer>

  <div class="logo">
    <a href="http://xvr-sim-racing.co.uk" target="_blank" title="Visit the XVR website - opens in a new window">
      <img src="/assets/logo.png" />
    </a>
    <br/>
    <a href="https://www.facebook.com/xvrsimracing/" title="XVR - facebook - opens in a new window" target="_blank"><img src="/assets/facebook.png" /></a>
    <a href="https://twitter.com/XvRSimRacing" title="XVR - twitter - opens in a new window" target="_blank"><img src="/assets/twitter.png" /></a>
    <a href="https://www.instagram.com/xvrsimracing/" title="XVR - instagram - opens in a new window" target="_blank"><img src="/assets/instagram.png" /></a>
    <br/>
    <a href="https://github.com/Vtec-Rich/iRacingFuelCalculator" title="github repo - opens in a new window" target="_blank">github repo</a>
  </div>

</footer>